/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/app.zip
/.env.zip
/public.zip
/node_modules.zip
/vendor.zip
am-ssh
artisan
/app/analytics
 

